@inherits LayoutComponentBase

<PageTitle>BlazorCRUDEmpleados</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/GhostManV/Tarea-Back-Front.git" target="_blank"><i class="bi bi-github">Github</i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
