@page "/"

<PageTitle>Index</PageTitle>

<h1>Esta Tarea es del Crud de Empleados</h1>
<h2>Realizada con </h2>
<ul>
    <li>Blazor(Front-End)</li>
    <li>API.Net6(Back-End)</li>
    <li>MySql(DataBase)</li>
</ul>

